{"interval": 1, "seed": 0, "laneChange": false, "dir": "records/docker_run_jinan_original/anon_3_4_jinan_real_2500.json_01_12_12_30_13/", "roadnetFile": "roadnet_3_4.json", "flowFile": "anon_3_4_jinan_real_2500.json", "rlTrafficLight": true, "saveReplay": false, "roadnetLogFile": "frontend/web/roadnetLogFile.json", "replayLogFile": "frontend/web/replayLogFile.txt"}