{"interval": 1, "seed": 0, "laneChange": false, "dir": "records/docker_run_jn_stage2/anon_3_4_jinan_real.json_01_14_17_26_22/", "roadnetFile": "roadnet_3_4.json", "flowFile": "anon_3_4_jinan_real.json", "rlTrafficLight": true, "saveReplay": false, "roadnetLogFile": "frontend/web/roadnetLogFile.json", "replayLogFile": "frontend/web/replayLogFile.txt"}