{"interval": 1, "seed": 0, "laneChange": false, "dir": "records/docker_run_seg8_fuzzy_full/anon_4_4_hangzhou_real_5816.json_01_11_19_30_36/", "roadnetFile": "roadnet_4_4.json", "flowFile": "anon_4_4_hangzhou_real_5816.json", "rlTrafficLight": true, "saveReplay": false, "roadnetLogFile": "frontend/web/roadnetLogFile.json", "replayLogFile": "frontend/web/replayLogFile.txt"}